@using Sort.Mvc.Classes

@{
    ViewBag.Title = "Lookup Data";
    Breadcrumb.Add("Dashboard", "/")
        .Next(ViewBag.Title);
}

<div class="col-md-12">
    <div class="list-group">
        <a class="list-group-item" href="@Url.Action("Countries")">Countries</a>
        <a class="list-group-item" href="@Url.Action("Languages")">Languages</a>
        <a class="list-group-item" href="@Url.Action("JournalSuggestions")">Journal Suggestions</a>
        <a class="list-group-item" href="@Url.Action("DoeFundingCategories")">DOE Funding Category</a>
        <a class="list-group-item" href="@Url.Action("FundingTypes")">Funding Types</a>
        <a class="list-group-item" href="@Url.Action("SppFederalAgencies")">SPP Federal Agencies</a>
    </div>
</div>