@using LRS.Business
@using LRS.EmployeeHelper
@model LRS.Mvc.Models.ContactModel

<div style="border: black 1px dotted; padding: 5px 15px; margin-bottom: 15px;">
    <p><b>Contacts</b></p>
    <p>Contacts are those users who can edit the bibliographic information for this LRS entry. Contacts will receive notices regarding this STI when the review is completed.</p>
    <p>You must have at least one Contact.</p>
</div>
@using (Html.BeginForm("AddContact", "Artifact", FormMethod.Post, new { id = "ContactForm", @onsubmit = "return false" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MainId)

    <div>
        <div class="form-group col-md-12">
            <div class="row text-nowrap">
                <div class="col-md-5">@Html.BsLabelFor(m => m.ContactEmployeeId, new { @class = "required col-md-3" })</div>
            </div>
            <div class="row">
                <div id="contactDiv" class="col-md-5">
                    @Html.EmployeeFor(m => m.ContactEmployeeId, Url.Action("SearchEmployees", "lookup"))
                    @Html.ValidationMessageFor(m => m.ContactEmployeeId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <button type="button" onclick="AddContact()" class="btn btn-sm btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
}
<div id="ContactsPartial">
    @Html.Partial("Partials/_contactList", Model.Contacts)
</div>
<script>
    $(document).ready(function () {
        CheckContactRequired();
    });

    function AddContact() {
        var id = $('#Sort_MainId').val();
        var sn = $('#ContactEmployeeId').val();
        
        if (id != '' && sn != '') {
            $('.nav-pills a[href=#contactsTab]').addClass('saving');
            var form = $('#ContactForm');
            SetValidationMsg('ContactEmployeeId', '');
            
            $.post(form.attr('action'), form.serialize(),
                function (data) {
                    if (data != null && data != '') {
                        $("#ContactsPartial").html(data);
                        CheckContactRequired();
                        CancelContact();
                    } else {
                        alert("Unable to Save the Contact.  Required fields missing or Invalid.");
                    }
                })
                .fail(function (response) { alert("Unable to Save the Contact.  Required fields missing or Invalid."); })
                .always(function () { setTimeout(function () { $('.nav-pills a[href=#contactsTab]').removeClass('saving'); }, 500);});
        } else {
            if (sn == '') {
                SetValidationMsg('ContactEmployeeId', 'Contact Name is required');
            } else {
                SetValidationMsg('ContactEmployeeId', '');
            }
            
        }
    }

    function CancelContact() {
        $('#ContactEmployeeId').val('').trigger('change');
        $('#ContactEmployeeId').text('');
        $('#ContactEmployeeId_search').val('').trigger('change');
        $('#ContactEmployeeId_search').text('');
    }

    function RemoveContact(row) {
        $.confirm({
            icon: 'fa fa-warning',
            title: 'Remove Contact',
            content: 'Are you sure you wish to remove this contact?',
            confirmButtonClass: 'btn-danger',
            cancelButtonClass: 'btn-primary',
            confirmButton: "Yes",
            cancelButton: "No",
            confirm: function () {
                $('.nav-pills a[href=#contactsTab]').addClass('saving');
                $.post("/Artifact/RemoveContact",
                    {
                        id: row['ContactId']
                    },
                    function (data) {
                        $("#ContactsPartial").html(data);
                        CheckContactRequired();
                    }).fail(function (response) { alert("Unable to Remove the Contact.  Server returned an error."); })
                    .always(function () { setTimeout(function () { $('.nav-pills a[href=#contactsTab]').removeClass('saving'); }, 500); });
            }
        });
    }

    function CheckContactRequired() {
        if ($('#contacts >tbody:last >tr').length > 0 &&
            //$("#contacts tr td:contains('POC')").length > 0 &&
            !$('#contacts >tbody:last >tr >td').hasClass('dataTables_empty') &&
            $("#contacts tr td:contains('(Invalid)')").length <= 0) {
            $('.nav-pills a[href=#contactsTab]').removeClass('required');
        } else {
            $('.nav-pills a[href=#contactsTab]').addClass('required');
        }
        if ($.isFunction(window.CheckForCompletion)) {
            window.CheckForCompletion();
        }
    }

    function AddContactToAuthor(row) {
        $.post("/Artifact/AddContactToAuthor",
            {
                id: row['ContactId']
            },
            function (data) {
                console.log(data);
                if (data.isAdded == true) {
                    if ($.isFunction(window.ReloadAuthors)) {
                        window.ReloadAuthors();
                    }
                    BootstrapDialog.success({
                        title: data.title,
                        message: data.message,
                        buttons: [{
                            label: 'OK',
                            cssClass: 'btn-primary',
                            hotkey: 13, // Enter.
                            action: function (dialogRef) {
                                dialogRef.close();
                            }
                        }]
                    });
                } else {
                    BootstrapDialog.danger({
                        title: data.title,
                        message: data.message,
                        buttons: [{
                            label: 'OK',
                            cssClass: 'btn-primary',
                            hotkey: 13, // Enter.
                            action: function (dialogRef) {
                                dialogRef.close();
                            }
                        }]
                        });
                    }
            }).fail(function (response) {alert("Unable to complete request.  Server returned an error.");});
    }
</script>